name: Update profile README

on:
  workflow_dispatch:
  schedule:
    - cron: "* */3 * * *" # every 3 hours

jobs:
  update-profile-readme:
    name: Update profile README
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Generate Github Activity and Timestamp
        uses: actions-js/profile-readme@master
        with:
          username: DeadPackets
          github_token: ${{ secrets.GITHUB_TOKEN }}
          template: './TEMPLATE.md'
          readme: './TEMPLATE_2.md'
      - name: Generate Profile Stats
        uses: teoxoy/profile-readme-stats@v1
        with:
          token: ${{ secrets.PA_TOKEN }}
          template: './TEMPLATE_2.md'
          readme: './README.md'
      - name: Update index.html
        uses: docker://pandoc/core:2.9
        with:
          args: >-
            --standalone
            --template=template.html
            --section-divs
            --from=gfm
            --to=html5
            --output=index.html
            README.md
      - name: Push updates to repo
        uses: EndBug/add-and-commit@v7
        with:
          default_author: github_actions
          message: Update README.md and index.html with latest version